extends layout

block content
  h1 SkiBay
  h1 THis is the index page
  h3    
    a(href='/new') NEW UP
  ul
    li it contains information about el nino 
    li it shows a desciptive paragraph about the page and the store and the winters
    
  ul 
    li You can click on Categories, it shows you the brands in the category
    li
    li CLick on Brand, it shows the products in that BRand 
  
    
  each val in products
    h3= val.brand_id
    p= val.name
    p
      a(href='/show/'+ val._id)= val.description

//you can only new up if you are logged in
  
