doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Pacifico|Gloria+Hallelujah|Comfortaa:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='nav')
      //- if name
      //-   div.fixbar
      //-     ul
      //-       li
      //-         a(class='brand' href='/')
      //-           h1 Sk
      //-             span i
      //-             | Bay
      //-       li 
      //-         p(class='' id='heyName') Hey #{name}
      //-       li
      //-         a(href='/profile') Profile
      //-       li  
      //-         a(href='/product/new') Sell 
      //-       li
      //-         a(href='/logout') Logout    
      //-       li
      //-         a(href='/product/directory') Directory
          
      if !name 
        div(class='fixbar')
          form(action='/login' method='post' id='login')
            ul
              li
                a(href='/user/new') Sign Up  
              li
                label User_Name
              li
                input.form-control(type='text' name='user_name')
              li
                label Password
              li 
                input.form-control(type='password' name='password')
              li
                input.form-control(type='submit' value='Login' class='btn btn-default')
            
          div.whatever
            a(href='/')
              h1 Sk
                span i
                | Bay
        
                  
    block content    
      








    
