doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Pacifico|Gloria+Hallelujah|Comfortaa:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    
