doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Pacifico|Gloria+Hallelujah|Comfortaa:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
        if name
          ul(class='nav navbar-nav')
            li
              a(class='navbar-brand' href='/')
                h1 Sk
                  span i
                  | Bay
            li 
              p(class='navbar-text' id='heyName') Hey #{name}
            li
              a(href='/profile') Profile
            li  
              a(href='/product/new') Sell 
            li
              a(href='/logout') Logout    
            li
              a(href='/product/directory') Directory
          ul(class='nav navbar-nav navbar-right' id='right-nav')
            
        if !name 
          div(class='navbar navbar-inverse navbar-fixed-top' id='fixbar')
            form.form-inline(action='/login' method='post' id='login')
              div.form-group
                label User_Name
                input.form-control(type='text' name='user_name')
              div.form-group
                label Password 
                input.form-control(type='password' name='password')
                input.form-control(type='submit' value='Login' class='btn btn-default')
                a(href='/user/new') Sign Up
            div.container
              a(href='/')
                h1 Sk
                  span i
                  | Bay
          
                  
        
      
    //- 
