extends layout

block content

  h1 NewUp an entry
  if user
    input(type='hidden' value=id name='postId')
    form(action='/product/new' method='post')
      label User 
      input(type='text' name='user' value=user.user_name)
      label category 
      select(id='category' name='category')
        option(name='category' value='ski') Skis
        option(value='binding' name='category') Bindings
        option(valye='boot' name='category') Boots
      label Select a Brand
      select(id='brand' name='brand')
        option(name='brand' value='atomic') Atomic
        option(name='brand' value='line') Line
        option(name='brand' value='blizzard') Blizzard
        option(name='brand' value='volkl') Volkl
        option(name='brand' value='k2') k2
        option(name='brand' value='rossignol') Rossignol
        option(name='brand' value='dynastar') Dynastar
        option(name='brand' value='fischer') Fischer
        option(name='brand' value='kastle') Kastle
        option(name='brand' value='lib') Lib
        option(name='brand' value='moment') Moment
        option(name='brand' value='nordica') Nordica
        option(name='brand' value='salomon') Salomon
      label Product Name
      input(type='text' name='name')
      label Select a Size
      input(type='number' name='size')
      textarea(name='description') Description of your item for sale
      input(type='submit' value='Submit')
