extends layout

block content
  div.padd
    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
        ul(class='nav navbar-nav')
          li
            a(href='/')
              h1 Sk
                span i
                | Bay
    h1 Sign Up for a Ski Bay Account
    p
    div(class='signUpError')
     if signUpError
       p Please correct errors below
       each val in signUpError
         ul
           li= val
    h3 Post, earn, buy.
    form(action='/user/new' method='post')
      div.form-group
        label User Name
        input.form-control(type='text' name='user_name')
      div.form-group
        label Email 
        input.form-control(type='text' name='email')
      div.form-group
        label Password
        input.form-control(type='password' name='password')
      div.form-group
        label Confirm Password
        input.form-control(type='password' name='confirm')
      input(class='btn btn-default' type='submit' value='Start Shopping')
