body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer{
  position: fixed;
  bottom: 0;
}

.row{
  margin-left: 5em;
}

.form-group{
  padding-top: 20px;
  width: 50%;
}

.welcome{
  color: white;
}

#offer{
  width: 25%;
  margin: 0 auto;
  font-size: 25px;
}

#showOffer{
  font-size: 20px;
}

#indexlist{
  overflow: scroll;
}

#login{
  float:right;
  width:50%;
  color: white;
}

#categorybar{
  margin-top:75px;
}

#fixbar{

}
